
.header{
 display: flex;
 flex-direction: row;
 height: 55px;
 justify-content: space-between;
border-bottom: 1px solid;

}

.header-left{

    /* background-color: rosybrown; */
    display: flex;
    align-items: center;


}

.hamburger-menu{
    height: 24px;
    margin-right: 24px;
    margin-left: 20px;
    

}

.youtube-logo{
    height: 20px;
}

.header-middle{
    flex: 1;
  margin-left: 150px;
  margin-right: 35px;

  display: flex;
  align-items: center;

 
}

.search-bar{
    flex: 1;
    align-items: center;
    height: 36px;
    width: 0;
    max-width: 500px;
}

.search-button{
    height: 42px;
    width: 60px;
    margin-left: -1px;
   
    
}

.search-icon{
    height: 24px;
}

.voice-search-button{
    height: 42px;
    border:none;
    border-radius: 21px;

    margin-left: 14px;
   
    
}
.voice-search-icon{
    height: 24px;
    padding-left: 4px;
    padding-right: 4px;

}
.header-right{
    width: 180px;
    margin-right: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.upload{
    height: 24px;
}

.youtube-apps{
    height: 24px;
}
.notifications{
    height: 24px;
}
.profile-pic{
    height: 32px;
    border-radius: 16px;
}